.node-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.node-arrow {
    cursor: pointer;
}

.node-arrow:hover {
    background-color: rgba(197, 197, 197, 0.2);
}

.node-text {
    margin-right: 5px;
}

.node-disabled {
    opacity: 0.4;
}

.node-content {
    background-color: rgb(207, 218, 215);
    border-radius: 14px;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.node-content-asset {
    background-color: rgb(214, 215, 232);
}

.node-content-application {
    background-color: rgb(201, 223, 217);
}

.node-content-datafeed {
    background-color: rgb(218, 228, 225);
}

.node-content-device {
    background-color: rgb(176, 200, 224);
}

.node-content-datastream {
    background-color: rgb(205, 218, 231);
}

.node-selected {
    background-color: rgba(219, 155, 53, 0.2);
}
